<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = <%= render(
            "api/users/user.json.jbuilder",
            user: current_user
        ).html_safe %>
    </script>
    <script type="text/javascript">
        window.background1 = "<%= image_url("background1.jpg") %>"
    </script>

<% end %>

<main id="root"></main>