.status-index {
    display: flex;
    justify-content: space-between;
}

#status-index-icon img {
    width: 52px;
    height: 52px;
}

#status-form {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

#status-form textArea {
    display:block;
    box-sizing: border-box;
    max-width: 556px;
    width: 100vw;
    height: 80px;
    padding: 6px 8px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#status-form button {
    background: #ff8714;
    color: white;
    font-weight: bold;
    font-size: 14px;
    width: 120px;
    right: 0;
    border:0;
    padding: 6px 45px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    
}



#status-delete button {
    border: 0;
    color: #2f98d9;
    background: white;
    cursor: pointer;
}

#status-index-profile-pic img {
    width: 52px;
    height: 52px;
}

#status-index-right {
    max-width: 556px;
    width: 100vw;
}

#status-createdAt {
    display: flex;
    justify-content: space-between;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    color: #999999;
}

#status-createdAt i {
    line-height: 50px;
    padding-right: 10px;
    font-size: 17px;
}

#status-date {
    font-size: 12px;
    padding-left: 10px;
}

.status-index-item-container {
    display: flex;
    justify-content: space-between;
    font-family: 'Heebo', sans-serif;
}

#status-top {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    height: 50px;
    border: 1px solid #cdcdcd;
    padding: 0px 17px;
    color: #2f98d9;
    line-height: 50px;
}

#status-body {
    height: 50px;
    border: 1px solid #cdcdcd;
    padding-left: 17px;
    line-height: 50px;
    background: #f0f0f0;
    color: #666666;
}

#status-body-2 {
    display: flex;
    border: 1px solid #cdcdcd;
    height: 50px;
    justify-content: space-between;
    padding: 0px 18px;
    line-height: 50px;
    background: #f0f0f0;
    color: #666666;
}

#status-comment-create i:hover {
    color: #2f98d9;
    cursor: pointer;
}

#status-body-2 button {
    border:0;
    color: #999999;
    font-size: 16px;
    font-weight: bold;
}

.status-line {
    border-bottom: solid 1px #cdcdcd;
    width: 100%;
}

#comment-form {
    display:flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border-bottom: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    height: 52px;
    
}

#comment-form img {
    width: 52px;
    height: 52px;
}

#comment-form textarea {
    display:block;
    box-sizing: border-box;
    max-width: 410px;
    width: 100vw;
    height: 32px;
    border: 1px solid #cdcdcd;
    margin-top: 10px;
    line-height: 25px;
}

#comment-form button {
    height: 34px;
    width: 55px;
    border:0;
    margin-top: 10px;
    background: #ffffff;
    border: 1px solid #2f98d9;
    color: #2f98d9;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.comment-index-item-container {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    font-size: 14px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
}

#comment-index-profile-pic img {
    width: 52px;
    height: 52px;
}

#comment-author {
    color: #2f98d9;
    font-weight: bold;
    font-size: 15px;
}

#comment-index-right {
    max-width: 470px;
    width: 100vw;
}

#comment-top {
    display: flex;
    justify-content: space-between;
}

#comment-top-right {
    display: flex;
    font-size: 12px;
}

#comment-delete button {
    border: 0;
    background: #ffffff;
    color: #2f98d9;
    font-weight: bold;
    cursor: pointer;
}