#dash-main {
    position: relative;
    width: 980px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    color:#046AB2;
    border-bottom: 1px solid #d3d2d1;
}
#dash-nav {
    display:flex;
    position: relative;
    height: 42px;
}

#mydashboard-top {
    font-family: 'Heebo', sans-serif;
}

#dash-routes span {
    font-size: 25px;
    font-weight: 500;
    // font-weight: bold;
}

.dash-nav-container {
    border-right: 1px solid #d3d2d1;
    border-top:1px solid #d3d2d1;
    border-left: 1px solid #d3d2d1;
    border-bottom: 3px solid #FFFFFF;
    width: 206px;
    padding: 7px 23px 5px;
    background: #f9f9f9;
    color: #046AB2
}

#dash-bottom-half {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    width: 100%;
    margin: auto;

}

#left-main-dash {
    max-width: 630px;
    width: 64%;
}

#dash-profile-pic img {
    width: 105px;
    height: 105px;
}

#right-main-dash {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    right:0;
    width: 30%;
}

#dash-profile-image {
    display: block;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    background-color: #f9f9f9;
    
}

#dash-profile-pic {
    display:flex;
    flex-direction: rows;
    max-width: 300px;
    max-height: 130px;
    width: 300px;
    height: 110px;
    
}

#dash-profile-info {
    display:flex;
    flex-direction: column;
    padding-left: 5px;
    
}

// #dash-profile-info div{
//     display:flex;
//     flex-direction: column;
// }

#dash-right-section {
    display:flex;
    flex-direction: columns;
}

#profile-edit {
    display:flex;
    justify-content: space-around;
}

#dash-profile-greeting{
    display:flex;
    flex-direction: column;
    height: 40px;
    font-size: 14px;
    padding-top: 10px;
    border-bottom: 1px solid #d3d2d1;
    font-family: 'Heebo', sans-serif;
    width: 160px;
}

#total-distance {
    display:flex;
}

#total-distance > :first-child{
    font-size: 30px;
    font-weight: bold;
    margin: 0px 4px 0px 0px;
}

#total-miles {
    display:flex;
    flex-direction: column;
    font-size:12px;
    align-content: center;
    align-items: top;
    vertical-align: bottom;
    font-family: 'Heebo', sans-serif;
}


#profile-edit span {
    display: block;
    width: 50%;
    text-align: center;
    border: 1px solid #d3d2d1;
    font-family: 'Heebo', sans-serif;
    color: #046AB2
}

#dash-nav a {
    text-decoration: none;
}

.active {
    border-top: 3px solid #2AA5EF;
    border-bottom: 0px;
}

#dash-nav {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#dash-ua {
    display: flex;
    width: 300px;
    height: 105px;
    margin-top: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4)
}

#dash-ua-shop, #dash-me {
    // padding-top: 5px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    width: 150px;
    height: 105px;
    border: 1px solid #d3d2d1;
    font-size: 9px;
}

#dash-me  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    padding-bottom: 20px;
}

.dash-map {
    width: 135px;
    height: 135px;
}

#dash-route-box {
    position: relative;
    width: 138px;
    height: 135px;
}

#dash-routes-index {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
}

#dash-route-box-content {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    width: 112px;
    height: 40px;
    font-size: 0;
    padding: 2px 4px;
    background-color: rgba(255,255,255,.9);
    position: absolute;
    bottom: 4px;
}

#dash-route-box-content div {
    // padding: 2px 4px;
    display:inline-block;
    font-size: 13px;
    // margin:0;
    // padding:0;
    overflow:hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    height: 18px;
   
}

#two {
    font-weight: 500;
}

#one {
    overflow: hidden;
     text-overflow: ellipsis;
}

#dash-routes-title {
    display: flex;
    justify-content: space-between;
    width: 620px;
}

#dash-routes-title a {
    text-decoration: none;
    background: #EDEDED;
    color: #2F98D9;
    border: none;
    // border: 1px solid grey;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 13px;
    vertical-align: baseline;
    margin: 0px 5px 0px 0px;
}