#footer-bar {
    display:flex;
    position: relative;
    justify-content: center; 
    max-width: 980px; 
    margin:auto;
}

#footer-iphone-img img{
    width: 150px;
    height:auto;
    padding:0;
    margin:0;
    box-shadow: 3px 3px 3px grey;
    border-radius:12%
}

#footer-iphone-img {
    display: flex;
    position:relative;
    justify-content: space-between;
    width: 150px;
    height: 310px;
}

ul {
    padding: 0;
}

.footer-bar-div {
    margin-top: 65px;
    width: 100%;
    
}
#footer-first-bar img {
    position: absolute;;
    display:flex;    
    height: 60px;
    top:0;
    border-right: solid 1px lightgrey;
    cursor:pointer;

}

#footer-first-bar ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#footer-first-bar ul {
    position:relative;
    display:flex;
    justify-content: space-between;
    width: 30%;
    left: 200px;
    color: #666666;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

#footer-first-bar {
    display:flex;
    background-color: #F0F2F4;
    border-top: solid 1px rgb(215, 216, 218);
    border-bottom: solid 1px rgb(215, 216, 218);
    height: 60px;
    position:relative;
}

#footer-first-bar:before, #footer-first-bar:after {
    content:"";
    position: absolute;
    top:0;
    bottom:0;
    width: 9600px;
    right:100%;
    background: #F0F2F4;
    z-index: -2;
    border-top: solid 1px rgb(215, 216, 218);
    border-bottom: solid 1px rgb(215, 216, 218);
}

#footer-first-bar:after {
    width: 320px;
    left:100%;
    background: #F0F2F4;
    border-top: solid 1px rgb(215, 216, 218);
    border-bottom: solid 1px rgb(215, 216, 218);
}

#footer-second-bar {
    display:flex;
    position:relative;
    max-width: 100%;
    justify-content:space-between;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(56, 56, 56);
    color: #FFFFFF;
    height: 130px;
    // padding-right:100px;
}

#footer-second-bar a {
    color: #FFFFFF;
    text-decoration: none;
}

#footer-second-bar:before, #footer-second-bar:after {
    content:"";
    position: absolute;
    top:0;
    bottom:0;
    width: 9600px;
    right:100%;
    background: rgb(56, 56, 56);
    z-index: -2;
    // border-top: solid 1px rgb(215, 216, 218);
    // border-bottom: solid 1px rgb(215, 216, 218);
}

#footer-second-bar:after {
    width: 320px;
    left:100%;
    background: rgb(56, 56, 56);
    // border-top: solid 1px rgb(215, 216, 218);
    // border-bottom: solid 1px rgb(215, 216, 218);
}
#footer-community img {
    max-height: 45px;
    max-width: 45px;
    border-radius: 15%;
}

#footer-community button {
    border:none;
    padding:0;
    background: none;
}

#footer-community ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#footer-second-bar h4 {
    font-weight: 900;
}

#UA-logo-img img{
    position: relative;
    display:flex;
    // justify-content:center;
    width: 250px;
    height:auto;
    bottom:15px;
}

#footer-third-bar {
    display:flex;
    position: relative;
    // justify-content: center; 
    max-width: 1320px; 
    margin:auto;
}

#footer-third-bar p {
    position:relative;
    top:0;
    left:20px;
    font-family: 'Open Sans', sans-serif;
}

