
#route-index {
    max-width: 980px;
    width: 100vw;
    margin: auto;
}

#route-create {
    display:flex;
    max-width: 980px;
    justify-content: space-between;
    margin: auto;
    border-bottom: 1px solid #DDDDDD;
}

#route-create-route {
    margin: 21px 0px;
}
#route-create button {
    display:inline-block;
    padding: 12px 15px;
    border-radius: 5px;
    background: #FF8714;
    border:1 px solid #FF8714;
    box-shadow: 1px, 1px, 1px, 1px, rgba(0,0,0,.4);
    color: #FFFFFF;
    // font-weight: bold;
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.route-index {
    max-width: 980px;
    width: 100vw;
    margin: auto;
}

#route-table {
    margin-top: 20px;
}

.route-index table {
    // margin-top: 20px;
    max-width: 980px;
    margin: auto;
    width: 100%
    // border-leftz: 1px solid #DDDDDD;
}

tr > th {
    border: 1px solid #DDDDDD;
    background-color: #f9f9f9;
    height: 60px;
    
}

tr {
    margin-top: 20px;
    box-sizing: border-box;
    height: 108px;
    // border: 1px solid #DDDDDD    
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}

tr:nth-child(even) {
    background-color: #F9F9F9;
}

.route-tag {
    border: 1px solid #DDDDDD;
    padding-left: 15px;
}

#route-tag-name {
    color: rgb(0, 0, 206);
    font-family: 'Heebo', sans-serif;
}
