.routes-main {
    width: 450px;
    height: 100%;
    background: #F0F0F0;
    border-right: 1px solid #9297A3;
}


#map-main {
    position:relative;
    max-height: 100%;
    width: 100%;
    top:0px;
    bottom: 10px;
    margin:0;
    padding:0;

}

.route-details {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 15px;
    height: 165px;
}

#route-header {
    display:block;
    background-color: rgb(219, 219, 219);
    width: 100%;
    border-top: 1px solid #9297A3;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    padding: 5px 0px;
    font-size: 15px;
    color: #444444;
}

#route-footer {
    display:block;
    background-color: rgb(219, 219, 219);
    width: 100%;
    border-top: 1px solid #9297A3;
    font-family: 'Heebo', sans-serif;
    
    font-size: 12px;
    color: #444444;
}

#route-details-1, #route-details-2 {
    display: flex;
    align-items: center                        ;
}

#route-details-1 span, #route-details-2 span {
    color: red;
}

.route-details input {
    display: block;
    width: 90%;
    height:36px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-left: 6px;
}
#search-label div{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 11px;
}

#search-bar button {
    background: grey;
    color:white;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    height: 28px;
    width: 86px;
}

#search-input {
    width: 70%;
}

#search-label {
    font-family: 'Heebo', sans-serif;
    size: 14px;
    padding-left: 11px;
}

#save-routes {
    display:flex;
    align-content: center;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.search-form-input {
        display: block;
    width: 90%;
    height:36px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-left: 6px;
}

.route-details select {
    display: block;
    width: 80%;
    height:36px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 229, 212));
    border-radius: 5px;
    padding-left: 6px;
}

#map-container {
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    bottom: 0;
}



.routes-title-1 {

}

.routes-map {
    position: absolute;
    top: 75px;
    display:flex;
    flex: row;
    width:100%;
    bottom:10px;
    font-family: 'Heebo', sans-serif;
}

#map-tools {
    position:absolute;
    right: 20px;
    top:100px;
    width: 200px;    
    z-index: 10;
    background: #F0F0F0;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.4)
}

#map-tools-distance {
    background-color: rgba(0,0,0,.4);
    color: white;    
}

#map-tools-distance label {
    font-size: 13px;
    padding-left: 5px;
}

#map-tools-distance h2 {
    margin:0;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 5px;
}

#map-tools-control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

#map-tools-control button {
    width: 60px;
    height: 40px;
    font-size: 8px;
    font-family: 'Heebo', sans-serif;
    cursor:pointer;
}

#map-tools-control #first {
    color: green;
}

#map-tools-control #second {
    color: red;
}

#map-tools-control #third {
    color: green;
}

#map-tools-control2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 8px;
    font-family: 'Heebo', sans-serif;
    align-content: center;
}

#map-tools-control2 div {
    border: 1px solid grey;
    padding: 4px 18px;
}

// #map-tools-control [type=radio] {
//     position: absolute;
//     opacity: 0;
//     width:0;
//     height:0;
// }

[type=radio] i {
    cursor: pointer;
}

[type=radio]:checked i {
    outline: 2px solid #f00;
}

#save-routes-1 {
    font-family: 'Heebo', sans-serif;
    font-size: 13px;
    color:#9297A3;
}

#save-routes button {
    display:inline-block;
    padding: 5px 18px;
    border-radius: 5px;
    background: #FF8714;
    border:1 px solid #FF8714;
    box-shadow: 1px, 1px, 1px, 1px, rgba(0,0,0,.4);
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    font-size: 13px;    
}

#show-map {
    max-width: 1320px;
    height: 785px;
    width: vw;
}

.route-show-main {
    position: relative;
    max-width: 1320px;
    width: vw;
    margin: 0 auto;
}

.route-show-info {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,.7);
    height: 180px;
    max-width: 1320px;
    width: 1320px;
    z-index: 20;
    position: absolute;
    backdrop-filter: blur(4px);
}

#route-show-top {
    height: 115px;
    max-width: 960px;
    margin-left: 13%;
    margin-top: 15px;
}

#route-show-info-info {
    display: flex;
    max-width: 550px;
    width: vw;
    // justify-content: space-between;
}

#route-show-info-info p {
    display: inline-block;
    color: #fff;
    height: 22px;
    font-size: 12px;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #15a8e6;
    border-radius: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    font-weight: bold;
    margin-right: 10px;
}

#route-show-username {
    font-family: 'Heebo', sans-serif;
    // font-weight: bold;
}

#route-show-name {
    font-size: 38px;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
}


#route-show-map {
    max-width: 1320px;
    height: 785px;
    width: 100vw;
}

.route-show-map {
    width: 1320;
    overflow: hidden;
}

#show-map {
    max-width: 1320;
    height: 785px;
    width: 100vw;
}