.splash-main {
    max-width: 1320px;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

#splash-background-top {
    background-image: 
    linear-gradient(to right, rgba(15, 80, 136, 1), rgba(0, 255, 231, .70)),
    image-url('background1.jpg');
    // max-width: 1320px;
    // height: 100%;
    min-height: 550px;
    background-size: auto 100%;
    padding: 15px 48px 125px;
    -webkit-background-size: cover;
    position: relative;
    overflow:hidden;
    align-self: center;
    max-width: 1320px;
    min-width: 90%;
}

#splash-background-top:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -18%;
    left: -5%;
    height: 30%;
    width: 110%;
    background: white;
    transform: rotate(-5deg);
}

#splash-background-middle {
    background-image: 
    linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    image-url('background4.png');
    max-width: 1320px;
    min-width: 90%;
    max-height: 500px;
    background-size: auto 668px;
    padding: 15px 48px 125px;
    -webkit-background-size: cover;
    position: relative;
    overflow:hidden;
    align-self: center;
    border-bottom: dashed 1px rgb(163, 162, 162);
}

#splash-background-middle:after {
    content: "";
    position: absolute;
    display: block;
    top: -18%;
    left: -5%;
    height: 27%;
    width: 110%;
    background: white;
    transform: rotate(-5deg);
    border-bottom: dashed 1px rgb(163, 162, 162);    
}

.heading1 {
    color: white;
    font-size: 48px;                               
    letter-spacing: 2px;
    font-family: 'Heebo', sans-serif;
    width: 450px;
    float: right;

}

.heading2 {
    color: black;
    font-size: 48px;
    letter-spacing: 2px;
    font-family: 'Heebo', sans-serif;
    width: 100%;
}

.p-top {
    color: white;
    font-size: 16px;
    text-align: right;
    font-family: 'Heebo', sans-serif;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;;
    

}

// .splash-first {
    // width: 100%;
    // min-height:500px;
    // float: right;
    // align-items: right;
// }


.splash-first {
    height: 420px;
    width: 420px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
}

.splash-first div span {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-style: italic;
}


.splash-first hr{
    border-color: white;
    border-top: solid 5.5px white;
    width: 87px;
}

.splash-second {
    padding-top: 150px;
    height: 420px;
    width: 420px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.splash-second div span {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-style: italic;
}


.splash-second hr{
    border-color: black;
    border-top: solid 5.5px black;
    width: 87px;
}

.splash-smartshoes-button {
    color: black;
    background-color: transparent;
    border: solid 2px black;
    padding: 6px 15px;
    font-weight: 530;
    min-width: 64px;
    width: 150px;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;

}

.nav-signup-button {
    background-color: #1DDD7C;
    padding: 6px 15px;
    font-weight: 700;
    color: white;
    min-width: 64px;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;  

}

.nav-login-button {
    background-color: white;
    border:none;
    font-weight: 700;
    min-width: 64px;
    cursor: pointer;

}

.splash-signup-button {
    background-color: #1DDD7C;
    padding: 6px 15px;
    font-weight: 700;
    color: white;
    min-width: 150px;
    width: 290px;
    height: 45px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 2px;
    font-size: 19px;   
}

.second-splash {
    display:flex;
    flex-direction: row;
}

.top-description {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space space-between; 
}

.splash-buttons-first {
    height: 420px;
    width: 420px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space space-between;
    
}

.splash-login-button {
    color: white;
    background-color: transparent;
    border: solid 2px rgb(194, 194, 194);
    padding: 6px 15px;
    font-weight: 530;
    min-width: 64px;
    width: 100px;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;

}

.ua-picture-container {
    display:flex;
    position: absolute;
    top: 100px;
    right: 6%;
    height: auto;
    width: 20%;
    float: right;

}

.ua-picture-container img {
    width:100%;
    height: auto;
    box-shadow: 4px 4px 4px grey;
    border-radius: 5%;
}