.splash-main {
    max-width: 1320px;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

#splash-background-top {
    background-image: 
    linear-gradient(to right, rgba(15, 80, 136, 1), rgba(0, 255, 231, .70)),
    image-url('background1.jpg');
    // max-width: 1320px;
    // height: 100%;
    min-height: 550px;
    background-size: auto 100%;
    padding: 15px 48px 125px;
    -webkit-background-size: cover;
    position: relative;
    overflow:hidden;
    align-self: center;
    max-width: 1320px;
    min-width: 90%;
}

#splash-background-top:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -18%;
    left: -5%;
    height: 30%;
    width: 110%;
    background: white;
    transform: rotate(-5deg);
}

#splash-background-middle {
    background-image: 
    linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    image-url('background4.png');
    max-width: 1320px;
    min-width: 90%;
    max-height: 500px;
    background-size: auto 668px;
    padding: 15px 48px 125px;
    padding-bottom: 0;
    -webkit-background-size: cover;
    position: relative;
    overflow:hidden;
    align-self: center;
    border-bottom: dashed 1px rgb(163, 162, 162);
}

#splash-background-middle:after {
    content: "";
    position: absolute;
    display: block;
    top: -18%;
    left: -5%;
    height: 27%;
    width: 110%;
    background: white;
    transform: rotate(-5deg);
    border-bottom: dashed 1px rgb(163, 162, 162);    
}

li {
    list-style: none;
}

.heading1 {
    color: white;
    font-size: 48px;                               
    letter-spacing: 2px;
    font-family: 'Heebo', sans-serif;
    width: 450px;
    float: right;

}

.heading2 {
    color: black;
    font-size: 48px;
    letter-spacing: 2px;
    font-family: 'Heebo', sans-serif;
    width: 100%;
}

.heading3 {
    color: black;
    font-size: 48px;
    letter-spacing: 2px;
    font-family: 'Heebo', sans-serif;
    max-width: 50%;
    text-align: center;
    align-content: center;
    margin: auto;
    

}

.p-top {
    color: white;
    font-size: 16px;
    text-align: right;
    font-family: 'Heebo', sans-serif;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;;
    

}

// .splash-first {
    // width: 100%;
    // min-height:500px;
    // float: right;
    // align-items: right;
// }


.splash-first {
    height: 420px;
    width: 420px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
}

.splash-first div span {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-style: italic;
}


.splash-first hr{
    border-color: white;
    border-top: solid 5.5px white;
    width: 87px;
}

.splash-second {
    padding-top: 150px;
    height: 420px;
    width: 420px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.splash-second div span {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-style: italic;
}


.splash-second hr{
    border-color: black;
    border-top: solid 5.5px black;
    width: 87px;
}

.splash-smartshoes-button {
    color: black;
    background-color: transparent;
    border: solid 2px black;
    padding: 6px 15px;
    font-weight: 530;
    min-width: 64px;
    width: 150px;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;

}

.nav-signup-button {
    background-color: #1DDD7C;
    padding: 6px 15px;
    font-weight: 700;
    color: white;
    min-width: 64px;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;  

}

.nav-login-button {
    background-color: white;
    border:none;
    font-weight: 700;
    min-width: 64px;
    cursor: pointer;

}

.splash-signup-button {
    background-color: #1DDD7C;
    padding: 6px 15px;
    font-weight: 700;
    color: white;
    min-width: 150px;
    width: 290px;
    height: 45px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 2px;
    font-size: 19px;   
}

.second-splash {
    display:flex;
    flex-direction: row;
}

.top-description {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space space-between; 
}

.splash-buttons-first {
    height: 420px;
    width: 420px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space space-between;
    
}

.splash-login-button {
    color: white;
    background-color: transparent;
    border: solid 2px rgb(194, 194, 194);
    padding: 6px 15px;
    font-weight: 530;
    min-width: 64px;
    width: 100px;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;

}

.ua-picture-container {
    display:flex;
    position: absolute;
    top: 100px;
    right: 6%;
    height: auto;
    width: 20%;
    float: right;

}

.ua-picture-container img {
    width:100%;
    height: auto;
    box-shadow: 4px 4px 4px grey;
    border-radius: 5%;
}

//**************************
//Third section of Splash
//**************************

.splash-background-mid-bottom {
    background-position: 0px 200px;
    top:40px;
    background-image: 
    // linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    image-url('mmbackground.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 550px;
    // background-size: auto 100%;
    padding: 15px 48px 125px;
    // -webkit-background-size: contain;
    // background-size: auto;
    // background-repeat: no-repeat;
    position: relative;
    overflow:hidden;
    align-self: center;
    max-width: 1320px;
    min-width: 90%;
    overflow:hidden;   
} 

.third-splash {
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

#third-splash-1 {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#third-splash-1-1 {
    display:flex;
    flex-direction: column;
    max-width: 30%;
    margin-top: 80px;
}

#third-splash-1-1 h4 {
    margin-bottom:0;
}

#third-splash-1-1 p {
    margin-top:0;
}

#third-splash-1-2 {
    position: absolute;
    left:40%;
    max-width: 60%;
}

#phones img {
    border-radius: 7%;
}

#phn1 {
    position: absolute;
    z-index: 10;

}

#phn2 {
    position: absolute;
    top:35px;
    left:170px;
    z-index: 9;
}

#phn3 {
    position: absolute;
    top: 70px;
    left: 340px;
}

#third-splash-2 {
    margin-top: 150px;
}

#third-splash-2 hr {
    border-color: black;
    border-top: solid 5.5px black;
    width: 87px;
    padding-bottom:0;
}

#third-splash-2-1 p {
    width: 285px;
    margin: auto;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
}

#third-splash-2-2 {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 55%;
    margin: auto;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    color: rgb(0, 162, 255);
    font-size: 80%;
}

#third-splash-2-2 li {
    padding-bottom: 3px;
}

#third-splash-2-3{
    background-position: 0px 200px;
    top:40px;
    background-image: 
    // linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    image-url('bridgemapbg.png');
    background-size:contain;
    background-repeat: no-repeat;
    min-height: 550px;
    padding: 15px 48px 125px;
    position: relative;
    overflow:hidden;
    align-self: center;
    max-width: 1320px;
    min-width: 90%;
    overflow:hidden; 
    position: relative; 
    margin-top:0;
    padding-top: 0;
}

#third-splash-2-3 img {
    border-radius: 5%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
    width: 20%;
    height: auto;
    position: absolute;
    right: 6%;
    top: 26%;
}

#third-splash-2-4 {
    position:relative;
}

#third-splash-2-4-bg{
    background-position: 0px 200px;
    top:40px;
    background-image: 
    // linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    image-url('custbackground2.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    min-height: 550px;
    padding: 15px 48px 125px;
    position: relative;
    overflow:hidden;
    align-self: center;
    max-width: 1320px;
    min-width: 90%;
    overflow:hidden; 
    position: relative; 
    margin-top:0;
    padding-top: 0;
    top:0;
}