#workout-log-create-page {
    max-width: 960px;
    width: 100vw;
    padding: 20px 0 85px 0;
    margin: 0 auto;
}

#workout-form {
    padding: 0px 8px;
    max-width: 650px;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
}

#workout-title span {
    font-size: 32px;
    font-family: 'Heebo', sans-serif;
}

#workout-heading {
    display: flex;
    // line-height: 60px;
}

#workout-heading i {
    color: #0076C0;
    font-size: 27px;
    display: block;
    height: 60px;
    width: 70px;
    border-radius: 40px;
    border: 3px solid #0076C0;
    line-height: 60px;
    text-align: center;
}

#workout-heading span {
    padding-left: 20px;
    padding-top: 8px;
}

#workout-form-body form {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 610px;
    max-height: 420px;
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
    border: 1px solid #d9d9d9;
}

#workout-form-body img {
    width: 10px;
    height: 10px;
}

#workout-form-body input {
    background-color: white;
    padding: 12px 16px;
}

.workout-map img {
    width: 45px;
    height: 45px;
}

#workout-form-body select {
    padding: 12px 0px 12px 0px;
}

#workout-form-name input {
    width: 250px;
}

#workout-form-date input {
    width: 210px;
}

#workout-form-gear select {
    width: 350px;
}

#workout-form-description textarea {
    width: 575px;
    height: 75px;
    padding: 12px 16px;
    overflow: auto;
    word-break: break-word;
    resize: both;
}

#workout-form-route select {
    width: 350px;
}

#workout-form-body1 {
    display: flex;
    justify-content: space-between;
}

// .workout-form-save {
//     background: #0076C0;
//     width:160px;
//     height: 40px;
// }

.workout-form-save-button {
    background-color: #0076C0;
    color: white;
    font-size: 16px;
    padding: 12px 15px;
    border: none;
    border-radius: 2px;
    width:160px;
    height: 40px;
}

#workout-index-container {
    max-width: 920px;
    width: 100vw;
    padding: 20px;
}

#workout-index-table {
    display: flex;
    justify-content: space-around;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    padding: 0px 0px 10px;
}

#workout-index-item-table {
    display: flex;
    justify-content: space-around;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    
}

#workout-i-t-1 {
    padding: 0px 8px;
    width: 134px;
}

#workout-i-t-2 {
    padding: 0px 8px;
    width: 200px;
}

#workout-i-t-3 {
    padding: 0px 8px;
    width: 134px;
}

#workout-i-t-4 {
    padding: 0px 8px;
    width: 134px;
}

#workout-i-t-5 {
    padding: 0px 8px;
    width: 134px;
}

#workout-i-it-1 {
    padding: 0px 8px;
    width: 134px;
    line-height: 60px;
}

#workout-i-it-2 {
    display: block;
    padding: 0px 8px;
    width: 200px;
    line-height: 60px;
    text-decoration: none;
}

#workout-index-activity-link {
    text-decoration: none;
    color: blue;
}

#workout-i-it-3 {
    padding: 0px 8px;
    width: 134px;
    line-height: 60px;
}

#workout-i-it-4 {
    padding: 0px 8px;
    width: 134px;
    line-height: 60px;
}

#workout-i-it-5 {
    padding: 0px 8px;
    width: 134px;
    line-height: 60px;
}

#workout-i-it-5 button {
    border: none;
    background-color: #FFFFFF;
    color: red;
    cursor: pointer;
}

.line-workout {
    border-bottom: solid 1px #d3d6dc;
    width: 100%;
}

#workout-header {
    display: flex;
    justify-content: space-between;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    padding: 12px 0px;
    font-size: 26px;
    margin: 0px 0px 25px;
}

#workout-create-button {
    color: #FFFFFF;
    background-color: #16D374;
    border: none;
    border-radius: 5px;
    padding: 10px 16px;
    font-weight: bold;
}

#index-workout-items {
    font-family: 'Heebo', sans-serif;
    display: flex;
    justify-content: space-around;
}

#workout-mid-header {
    font-family: 'Heebo', sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin: 0px 0px 40px;
    text-align: center;
}

#workout-mid-d {
    display: flex;
    flex-direction: column;
}

#w-m-d-1 {
    font-size: 40px;
    font-weight: bold;
}

#w-m-d-2 {
    margin-top: -15px;
}

#workout-mid-divider {
    border-left-style: solid;
    border-left-color: #d3d6dc;
    border-left-width: 2px;
    height: 46px;
    margin-top: 15px;
}

#duration-log ul {
    display: flex;
    justify-content: space-between;
    line-height: 35px;
}
#duration-log {
    width: 50%;
}